<template>
  <v-container>
    <v-row>
      <v-col>
        <h2 class="title">電力需要予測</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="2"> </v-col>
      <v-col>
        <v-img width="800" height="600" :src="imageUrl" class="image"></v-img>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({}),
  async mounted() {
    this.$store.commit("setLoading", true);
    await this.$store.dispatch("DemandForecast/getForecast");
    this.$store.commit("setLoading", false);
  },
  computed: {
    imageUrl() {
      return this.$store.getters["DemandForecast/imageUrl"];
    }
  },
  methods: {
    async changeYear() {
      this.$store.commit("setLoading", true);
      await this.$store.dispatch("DemandForecast/getForecast");
      this.$store.commit("setLoading", false);
    }
  }
};
</script>

<style scoped>
.image {
  margin: auto;
}
</style>
