<template>
  <v-container>
    <v-row justify="center" align-content="center">
      <v-col cols="8">
        <v-card elevation="12">
          <v-card-title>
            ユーザーマスタ(新規)
          </v-card-title>
          <v-card-text>
            <ValidationObserver ref="observer" v-slot="{ invalid }">
              <v-form>
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required"
                  name="ユーザーコード"
                >
                  <v-text-field
                    label="ユーザーコード"
                    v-model="model.user_code"
                  >
                  </v-text-field>
                  <div class="error">{{ errors[0] }}</div>
                </ValidationProvider>
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required"
                  name="ユーザー名"
                >
                  <v-text-field label="ユーザー名" v-model="model.user_name">
                  </v-text-field>
                  <div class="error">{{ errors[0] }}</div>
                </ValidationProvider>
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="email"
                  name="メールアドレス"
                >
                  <v-text-field
                    label="メールアドレス"
                    v-model="model.mailaddress"
                  >
                  </v-text-field>
                  <div class="error">{{ errors[0] }}</div>
                </ValidationProvider>
                <ValidationProvider
                  v-slot="{ errors }"
                  rules="required"
                  name="パスワード"
                >
                  <v-text-field
                    label="パスワード"
                    :type="showPassword ? 'text' : 'password'"
                    v-model="model.password"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPassword = !showPassword"
                  >
                  </v-text-field>
                  <div class="error">{{ errors[0] }}</div>
                </ValidationProvider>
              </v-form>
            </ValidationObserver>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" @click="regist">登録</v-btn>
            <v-btn color="secondary" to="/users" nuxt>キャンセル</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    showPassword: false,
    model: {
      user_code: "",
      user_name: "",
      mailaddress: "",
      password: "",
      login_user_id: 0
    }
  }),
  methods: {
    regist() {
      this.$refs.observer.validate().then(result => {
        this.model.login_user_id = this.$auth.user.id;
        // validationが通った場合に実行する
        this.$api.post("/api/v1/users/create", this.model);
        this.$router.push("/users");
      });
    }
  }
};
</script>

<style scoped></style>
