<template>
  <v-container>
    <v-row>
      <v-col>
        <h2 class="title">ユーザーマスタ</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-text-field
          v-model="condition.user_name"
          placeholder="ユーザー名"
        ></v-text-field>
      </v-col>
      <v-col>
        <v-checkbox
          v-model="condition.search_disabled"
          :label="'無効なユーザーも検索する'"
        ></v-checkbox>
      </v-col>
    </v-row>
    <v-row>
      <v-col offset="9">
        <v-btn color="primary" @click="search">
          <v-icon small class="mr-2">mdi-pencil</v-icon>検索
        </v-btn>
        <v-btn color="secondary" @click="create">
          <v-icon small class="mr-2">mdi-pencil</v-icon>新規
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-data-table :headers="model.headers" :items="model.users">
          <template v-slot:item.actions="{ item }">
            <v-icon small class="mr-2" @click="editUser(item.id)"
              >mdi-pencil</v-icon
            >
            <v-icon small class="mr-2" @click="deleteConfirm(item)"
              >mdi-delete</v-icon
            >
            <v-dialog v-model="dialog" max-width="400px">
              <v-card>
                <v-card-title primary-title>確認</v-card-title>
                <v-card-text>削除してもよろしいですか？</v-card-text>
                <v-card-actions>
                  <v-btn color="primary" @click="deleteUser()">はい</v-btn>
                  <v-btn color="danger" @click="dialog = false">いいえ</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols=""> </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    condition: {
      user_name: "",
      search_disabled: false
    },
    model: {
      headers: [
        {
          text: "コード",
          value: "user_code"
        },
        {
          text: "名前",
          value: "user_name"
        },
        {
          text: "",
          value: "actions",
          sortable: false
        }
      ],
      users: [],
      editedUser: {
        id: 0,
        user_code: "",
        user_name: "",
        user_type: "",
        version_no: 0
      }
    }
  }),
  async mounted() {
    this.$store.commit("setLoading", true);
    let result = await this.$api.get("/api/v1/users");
    this.model.users = result.users;
    this.$store.commit("setLoading", false);
  },
  methods: {
    /** 検索 */
    async search() {
      let result = await this.$api.post("/api/v1/users", this.condition);
      this.model.users = result.users;
    },
    /** 新規 */
    create() {
      this.$router.push("/users/create");
    },
    /** 編集 */
    editUser(id) {
      this.$router.push({ path: "/users/edit", query: { id: id } });
    },
    /** 削除確認ダイアログを表示する */
    deleteConfirm(user) {
      // 選択されたユーザーの情報を退避
      this.editedUser = Object.assign({}, user);
      this.dialog = true;
    },
    /** 削除 */
    async deleteUser() {
      let result = await this.$api.post("/api/v1/users/delete", {
        id: this.editedUser.id,
        version_no: this.editedUser.version_no
      });
      this.dialog = false;
      this.search();
    }
  }
};
</script>
