<template>
  <v-card max-width="400" class="elevation-1 pa-12 mx-auto">
    <v-card-text>
      <div class="layout column align-center">
        <h1 class="flex my-4 primary-text font-weight-bold">ログイン</h1>
      </div>
      <v-form ref="loginForm">
        <v-text-field
          prepend-icon="mdi-account-circle"
          name="login"
          label="ログインID"
          type="text"
          v-model="model.userCode"
          :counter="20"
          required
        ></v-text-field>
        <v-text-field
          prepend-icon="mdi-lock"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          name="password"
          label="パスワード"
          id="password"
          :type="showPassword ? 'text' : 'password'"
          v-model="model.password"
          :counter="32"
          required
          @click:append="showPassword = !showPassword"
        ></v-text-field>
      </v-form>
    </v-card-text>
    <div class="login-btn">
      <v-btn blcok color="primary" @click="login" :loading="loading"
        >ログイン</v-btn
      >
    </div>
  </v-card>
</template>

<script>
import Axios from "axios";
export default {
  layout: "blank",
  data: () => ({
    loading: false,
    showPassword: false,
    model: {
      userCode: "",
      password: ""
    }
  }),
  methods: {
    async login() {
      this.loading = true;
      try {
        const response = await this.$auth.loginWith("local", {
          data: this.model
        });
        this.$router.push({
          path: "/"
        });
      } catch (error) {
        console.log("login error");
        console.log(error);
      } finally {
        this.loading = false;
      }
    }
  }
};
</script>

<style scoped></style>
