<template>
  <v-app dark>
    <div v-if="$store.state.loading" id="loading">
      <v-progress-circular indeterminate color="primary"></v-progress-circular>
    </div>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn icon @click.stop="clipped = !clipped">
        <v-icon>mdi-application</v-icon>
      </v-btn>
      <v-btn icon @click="home">
        <v-icon>mdi-home-circle-outline</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-menu offset-y>
        <template v-slot:activator="{ on, attr }">
          <v-btn color="accent" dark v-bind="attr" v-on="on">
            <v-icon>mdi-account-circle</v-icon>
            {{ $store.$auth.user.user_name }}
          </v-btn>
        </template>
        <v-list dense>
          <v-list-item dense>
            <v-list-item-content>
              <v-btn text @click="logout">
                ログアウト
              </v-btn>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-main>
      <nuxt />
    </v-main>
    <v-footer app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      items: [
        {
          icon: "mdi-apps",
          title: "ユーザーマスタ",
          to: "/users"
        },
        {
          icon: "mdi-chart-bubble",
          title: "電力需要予測",
          to: "/demand-forecast"
        }
      ],
      title: "Pythonサンプルアプリケーション"
    };
  },
  methods: {
    home() {
      this.$router.push("/");
    },
    async logout() {
      await this.$auth.logout();
    }
  }
};
</script>

<style scoped>
.title {
  text-transform: none;
  text-decoration: none;
  color: white;
}

.v-menu__content > .v-list {
  padding: 0;
}

.v-menu__content > .v-list > .v-list-item > .v-list-item__content {
  padding: 0;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  position: fixed;
  background-color: rgba(#000, 0.5);
}
</style>
